# Dataset images
data/FSC147/images_384_VarV2/

# Ground truth density maps
data/FSC147/gt_density_map_adaptive_384_VarV2/

# Training data
data/FSC147/one/

# Classifier related
classify/

# Model checkpoints
data/checkpoint_FSC.pth
data/checkpoint.pth
data/checkpoint__finetuning_dino_prompt.pth
data/checkpoint__finetuning_yolo.pth
data/checkpoint__finetuning_yolo_noprompt.pth
data/checkpoint.pth

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

#other
visualizations/
visualizations_test/
GroundingDINO/
yolov8x-worldv2.pt

# Logs & runtime artifacts
*.log
logs/
wandb/
output/
output_transfer/

# Build artifacts
dist/
build/
*.egg-info/